
.button {
  display: inline-block;
  width: 228px;
  height: 57px;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  word-spacing: 5px;
  font-weight: 400;
  transition: all 0.4s;
  &:hover,&:active,&:focus {
    color: $primary;
    background-color: $light;
  }
}
