/*! Шрифт yeseva-one-regular - latin */
@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One Regular"), local("YesevaOne-Regular"),
    url("../fonts/yeseva-one-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/yeseva-one-v13-latin-regular.woff") format("woff");
}

/*! Шрифт gentium-book-basic-700 - latin */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Gentium Book Basic Bold'), local('GentiumBookBasic-Bold'),
       url('../fonts/gentium-book-basic-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/gentium-book-basic-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*! Шрифт Lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
