/*! Глобальные стили */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: $text-color;
  //тень по бокам страницы
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.3);
}

*,*::after,*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:active, a:focus{
        outline: none;
    }

img {
    max-width: 100%;
    height: auto;
}

/* Класс для создания контейнера разметки */
.container {
    @include make-container();
    @include make-container-max-widths();
}

/* Класс для создания ряда разметки */

.row {
  @include make-row();
}

/* Анимация появления Lazy изображений */
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 800ms;
}