/* Настройка адаптивной сетки */
$grid-columns: 12;
$grid-gutter-width: 0px;
$enable-grid-classes: false;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);

/* Цвета */
$primary: #dab33e;
$light: #ffffff;
$dark: #000000;
$text-color: #818181;
$footer-color: #191919;

/* Точка переключения меню  */
$nav-collapse: 1200px;