//Секция Footer
.footer {
  min-height: 320px;
  padding-top: 61px;
  padding-bottom: 72px;
  background-color: $footer-color;
}

.footer__decor-heading {
  .decor-heading__heading {
    color: $light;
    font-size: 21px;
  }
  .decor-heading__img {
    width: 200px;
    height: 20px;
    margin: 15px auto;
  }
}

.footer__about,
.footer__hours,
.footer__location {
  margin-top: 80px;
  @include make-col(12);
  @include media-breakpoint-up(lg) {
    @include make-col(4);
    margin-top: 0;
  }
}

.footer__about {
  margin-top: 0;
}

.footer__description {
  max-width: 343px;
  margin: 0 auto;
  color: $light;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer__icon-list {
  text-align: center;
  display: flex;
  justify-content: center;

  .icon-list__icon {
    color: $light;
    &:hover {
      color: $primary;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 50px;
  }
}

.footer__hours {
  .icon-list__item {
    padding-right: 10px;
  }
}
