include ../../blocks/decor-heading/decor-heading.pug
include ../../blocks/svgicon/svgicon.pug
//Секция Footer
footer.footer
  .container
    .footer__wrap.row
      .footer__about
        +decor-heading('About Us', './img/Dividergray.png', 'footer__decor-heading')
        p.footer__description.
          Lambda's new and expanded Chelsea location represents
          a truly authentic #[b Greek] patisserie,
          featuring breakfasts of fresh croissants
          and steaming bowls of café.
          Lamda the best restaurant in town
      .footer__hours
        +decor-heading('Opening Hours', './img/Dividergray.png', 'footer__decor-heading')
        p.footer__description
          b Mon-Thu:
          span  7:00am-8:00pm 
        p.footer__description
          b Fri-Sun:
          span  7:00am-10:00pm
        ul.footer__icon-list.icon-list
          li.icon-list__item
            a(href="#" aria-label="amex")
              i.icon-list__icon.icon-cc-amex
          li.icon-list__item
            a(href="#" aria-label="paypal")
              i.icon-list__icon.icon-cc-paypal
          li.icon-list__item
            a(href="#" aria-label="visa")
              i.icon-list__icon.icon-cc-visa
          li.icon-list__item
            a(href="#" aria-label="discover")
              i.icon-list__icon.icon-cc-discover
      .footer__location
        +decor-heading('Our Location', './img/Dividergray.png', 'footer__decor-heading')
        p.footer__description
          b 19th Paradise Street Sitia
        p.footer__description
          b 128 Meserole Avenue
        ul.footer__icon-list.icon-list
          li.icon-list__item
            a(href="#" aria-label="facebook")
              i.icon-list__icon.icon-facebook
          li.icon-list__item
            a(href="#" aria-label="youtube")
              i.icon-list__icon.icon-youtube
          li.icon-list__item
            a(href="#" aria-label="twitter")
              i.icon-list__icon.icon-twitter
          li.icon-list__item
            a(href="#" aria-label="trello")
              i.icon-list__icon.icon-trello

