/* Заголовок с декоративным элементом под ним */
.decor-heading__heading {
  text-align: center;
  font-family: "Yeseva One";
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  color: $primary;
  @include media-breakpoint-down(xs) {
      line-height: 36px;
  }
}

.decor-heading__img {
  margin: 20px auto;
  display: block;
}
