/* Секция reservations */
.reserve {
  min-height: 708px;
  height: auto;
  background-image: linear-gradient(
      -43deg,
      rgba(1, 1, 1, 0.09) 0%,
      rgba(255, 255, 255, 0.09) 100%
    ),
    url("../img/aboutpat.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reserve__wrap {
  padding-top: 50px;
}

.reserve__img-wrap {
  min-height: 360px;
  text-align: center;
  @include make-col(12);
  @include media-breakpoint-up(lg) {
    @include make-col(5);
    padding-top: 80px;
  }
}

.reserve__img {
  max-width: 50%;
  height: auto;
}
.reserve__book {
  min-height: 507px;
  padding-top: 70px;
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    padding-top: 80px;
  }
  @include media-breakpoint-up(lg) {
      @include make-col(7);
  }
}

.reserve__description {
  max-width: 410px;
  text-align: center;
  margin: 0 auto;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 15px;
  p {
      padding-bottom: 5px;
  }
}

.reserve__form {
  max-width: 430px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    display: flex; 
    flex-wrap: wrap;
  }
}

.form__group {
  width: 250px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    width: 200px;
    margin-top: 0 auto;
  }
}

.form__label {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: $primary;
}

.form__input-wrap {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
  @include media-breakpoint-up(lg) {
    margin-top: 0; 
  }
}

.form__input,
.form__select {
  width: 100%;
  height: 36px;
  padding-left: 15px;
  border: 1px solid #c8c6c6;
  &::placeholder {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    color: #7c7c7c;
  }
  &:active,
  &:focus {
    border: 1px solid $primary;
  }
}
//иконки в форме резерв.
.form__input--calendar,.form__select--arrow {
  background-image: url('../img/calendar.svg');
  background-position: 97% center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.form__select--arrow {
  background-image: url('../img/down-arrow.svg');
}

.form__select {
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  color: #7c7c7c;
  background-color: $light;
}


.form__button {
  min-width: 200px;
  height: 36px;
  color: $light;
  border: 1px solid $primary;
  background-color: $primary;
  display: block;
  margin: 80px auto 80px auto;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  &:hover,
  &:focus,
  &:active {
    color: $primary;
    background-color: $light;
  }
  @include media-breakpoint-up(lg) {
     margin-top: 17px; 
  }
}
