include ../../blocks/decor-heading/decor-heading.pug
include ../../blocks/svgicon/svgicon.pug
// Секция reservations
section.reserve#reservations
  .container
    .reserve__wrap.row
      .reserve__img-wrap
        img(data-src="./img/reserve1.jpg" alt="dessert").reserve__img.lazyload
        img(data-src="./img/reserve2.jpg" alt="dessert").reserve__img.lazyload
      .reserve__book
        +decor-heading('Just the right food', './img/Divider.png', 'reserve__decor-heading')
        div.reserve__description
          p.
            If you’ve been to one of our restaurants,
            you’ve seen – and tasted – what keeps our customers
            coming back for more. Perfect materials and freshly baked food.
          p.
            Delicious Lambda cakes,  muffins, and gourmet coffees make
            us hard to resist! Stop in today and check us out!
            Perfect materials and freshly baked food.
        form.reserve__form.form
          div.form__group
            .form__input-wrap
              label.form__label(for="name") Name
              br
              input.form__input(type="text" id="name" placeholder="your name*" required)
          div.form__group
            .form__input-wrap
              label.form__label(for="email") E-mail
              br
              input.form__input(type="email" id="email" placeholder="your email*" required)
          div.form__group
            .form__input-wrap
              label.form__label(for="partydate") Date
              br
              input.form__input.form__input--calendar(type="text" id="partydate" placeholder="date*" required)
          div.form__group
            .form__input-wrap
              label.form__label(for="party") Party number
              br
              select(id="party").form__select.form__select--arrow
                option(value="" disabled selected) party number
                option(value="1" ) 1
                option(value="2" ) 2
          button(type="submit" role="button").form__button  Book now!

