//Секция Menu
.menu {
  min-height: 600px;
  background-image: linear-gradient(
      -243deg,
      rgba(1, 1, 1, 0.09) 0%,
      rgba(255, 255, 255, 0.09) 100%
    ),
    url("../img/bgmenu.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu__wrap {
  min-height: 600px;
  padding-bottom: 70px;
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1100px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

.menu__item {
  display: block;
  width: 100%;
  max-height: 600px;
  max-width: 432px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.food {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food--special {
  position: relative;
  border: 1px solid $primary;
  min-height: 80px;
  margin-top: 30px;
  padding: 10px 10px 12px 10px;
  &:before {
    content: "Special";
    position: absolute;
    display: block;
    min-width: 70px;
    height: 22px;
    background-image: url("../img/special.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -23px;
    right: -1px;
    color: $light;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.food__title,
.food__price {
  font-family: "Yeseva One";
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  color: $primary;
}

.food__description {
  flex-basis: 100%;
  border-top: 1px solid $primary;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 4px;
}
