include ../../blocks/decor-heading/decor-heading.pug
//Секция Menu
section.menu#menu
  .container
    .menu__wrap.row
      .menu__item
        +decor-heading('Appetisers', './img/Divider.png', 'menu__decor-heading')
        .menu__food.food
          h5.food__title  Tzatsik
          h5.food__price  $3.99
          p.food__description  Refreshing traditional cucumber and garlic yoghurt dip.
        .menu__food.food
          h5.food__title  Aubergine_Salad
          h5.food__price  $5.50
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
        .menu__food.food
          h5.food__title  Aubergine_Salad
          h5.food__price  $5.25
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
      .menu__item
        +decor-heading('Salads', './img/Divider.png', 'menu__decor-heading')
        .menu__food.food
          h5.food__title  Olive Special
          h5.food__price  $5.99
          p.food__description  Refreshing traditional cucumber and garlic yoghurt dip.
        .menu__food.food.food--special
          h5.food__title  Greek Salad
          h5.food__price  $5.50
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
        .menu__food.food
          h5.food__title  Gusto Salad
          h5.food__price  $5.25
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
      .menu__item
        +decor-heading('Starters', './img/Divider.png', 'menu__decor-heading')
        .menu__food.food
          h5.food__title  Haloumi
          h5.food__price  $3.99
          p.food__description  Refreshing traditional cucumber and garlic yoghurt dip.
        .menu__food.food
          h5.food__title  Spinach_Pie
          h5.food__price  $5.50
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
      .menu__item
        +decor-heading('Main Dishes', './img/Divider.png', 'menu__decor-heading')
        .menu__food.food
          h5.food__title  Cornish Mackerel
          h5.food__price  $5.99
          p.food__description  Refreshing traditional cucumber and garlic yoghurt dip.
        .menu__food.food.food--special
          h5.food__title  Roast_Lamb
          h5.food__price  $5.50
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
        .menu__food.food
          h5.food__title  Fried Chicken
          h5.food__price  $5.25
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
        .menu__food.food
          h5.food__title  Pastitsio
          h5.food__price  $5.25
          p.food__description  Pureed eggplant, garlic, green pepper and tomato dip.
