/* Секция ингредиенты */
.ingredients {
  min-height: 560px;
  background-image: url("../img/bgingred.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include media-breakpoint-up(lg) {
      height: 760px;
      padding-top: 100px;
      padding-bottom: 100px;
  }
}

.ingredients__content {
  min-height: 560px;
  background: rgba($color: $dark, $alpha: 0.7);
  @include make-col(12);
  @include media-breakpoint-up(lg) {
     @include make-col(8); 
     @include make-col-offset(4);
     margin-left: auto;
     max-width: 570px;
  }

}

.ingredients__decor-heading {
  margin-top: 80px;
  .decor-heading__heading {
    color: $light;
  }
}

.ingredients__description {
  color: $light;
  text-align: center;
  max-width: 410px;
  margin: 0 auto;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 15px;
}

.ingredients__img-wrap {
    display: flex;
    justify-content: space-around;
    max-width: 410px;
    height: auto;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.ingredients__img {
    max-width: 100%;
    height: auto;
    display: block;
}
