include ../../blocks/decor-heading/decor-heading.pug
//Секция Ingredients
section.ingredients#ingredients
  .container
    .row
      .ingredients__content
        +decor-heading('Fine ingredients', './img/Dividergray.png', 'ingredients__decor-heading')
        p.ingredients__description.
          If you’ve been to one of our restaurants,
          you’ve seen – and tasted – what keeps our
          customers coming back for more.
          Perfect materials and freshly baked food,
          delicious Lambda cakes,  muffins,
          and gourmet coffees make us hard to resist!
          Stop in today and check us out!
        .ingredients__img-wrap
          img(data-src="./img/ingred1.png" alt="food image").ingredients__img.lazyload
          img(data-src="./img/ingred2.png" alt="food image").ingredients__img.lazyload
          img(data-src="./img/ingred3.png" alt="food image").ingredients__img.lazyload

