.reviews {
  background-image: url("../img/revbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews__wrap {
  min-height: 560px;
  @include media-breakpoint-up(lg) {
    min-height: 760px;
  }
}

.reviews__content {
  min-height: 560px;
  background: rgba($color: $dark, $alpha: 0.7);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;

  @include make-col(12);
  @include media-breakpoint-up(lg) {
    @include make-col(8);
    @include make-col-offset(2);
    max-width: 770px;
  }
}

.reviews__decor-heading {
  margin-top: 80px;
  .decor-heading__heading {
    color: $light;
  }
}

.reviews__quotes {
  width: 32px;
  height: 25px;
  position: relative;
  left: -25px;
  background-image: url("../img/quotes.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include media-breakpoint-up(md) {
    left: -30px;
    top: 10px;
  }
  @include media-breakpoint-up(xl) {
    left: -45px;
  }
}

.reviews__review {
  max-width: 622px;
  font-family: "Gentium Book Basic";
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: $light;
  margin: 0 auto;
  padding: 0 15px;
  @include media-breakpoint-up(xs) {
    padding: 0 30px;
  }

  @include media-breakpoint-up(md) {
    font-size: 25px;
    line-height: 45px;
  }
}

.reviews__auhtor {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
