include ../../blocks/decor-heading/decor-heading.pug
// Секция reviews
section.reviews#reviews
  .container
    .reviews__wrap.row
      .reviews__content
        +decor-heading('Guest Reviews', './img/Dividergray.png', 'reviews__decor-heading')
        .reviews__review.
          #[.reviews__quotes]
          If you’ve been to one of our restaurants,
          you’ve seen – and tasted – what keeps our customers coming back for more.
          Perfect materials and freshly baked food, delicious Lambda cakes,
          muffins, and gourmet coffees make us hard to resist! Stop in today
          and check us out!
        p.reviews__auhtor  - food inc, New York
