
/* Секция About */
.about {
  min-height: 710px;
  height: auto;
  padding-top: 40px;
  background-image: linear-gradient(
      -43deg,
      rgba(1, 1, 1, 0.09) 0%,
      rgba(255, 255, 255, 0.09) 100%
    ),
    url("../img/aboutpat.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__content {
  margin-top: 60px;
  @include make-col(10);
  @include make-col-offset(1);
  @include media-breakpoint-down(sm) {
    margin-top: 10px; 
    order:2;
  }
  @include media-breakpoint-up(md) {
    @include make-col(5);
    @include make-col-offset(0);
  }
}

.about__img {
  margin-top: 20px;
  @include make-col(10);
  @include make-col-offset(1);
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
    order: 1;
  }
  @include media-breakpoint-up(md) {
    @include make-col(7);
    @include make-col-offset(0);
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.about__decor-heading {
  .decor-heading__heading {
    @include media-breakpoint-only(md) {
      line-height: 35px;

    }
  }
}

.about__description {
  max-width: 410px;
  text-align: center;
  margin: 0 auto;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about__avatar {
 width: 220px;
 height: 220px;
 display: block;
 margin: 50px auto;
 position: relative;
 left: 30px;
}
