include ../../blocks/decor-heading/decor-heading.pug
//Секция About
section.about#about
  .container
    .row
      .about__content
        +decor-heading('Just the right food', './img/Divider.png', 'about__decor-heading')
        p.about__description.
          If you’ve been to one of our restaurants,
          you’ve seen – and tasted – what keeps our
          customers coming back for more. Perfect materials
          and freshly baked food, delicious Lambda cakes,
          muffins, and gourmet coffees make us hard to resist!
          Stop in today and check us out!
        img(data-src="./img/cook.png" alt="avatar").about__avatar.lazyload
      .about__img
        img(data-src="./img/dish.png", alt="dish").lazyload