/* Навигация */
.navbar__wrap {
  height: 110px;
}
.navbar {
  position: relative;
  width: 100%;
  min-height: 110px;
}

.navbar__wrap {
  justify-content: space-between;
}

.navbar--stick {
  @include media-breakpoint-up($nav-collapse) {
    position: fixed;
    z-index: 1000;
    background-color: rgba($color: $dark, $alpha: 0.5);
    transition: all 0.5s;
  }
}
/* Логотип в навиг. */
.navbar__logo {
  height: 92px;
  width: 154px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Кнопки в навиг. */
.nav-list__button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.nav-list__button--close {
  margin-left: 10px;
  margin-top: 10px;
  display: none;
}

.nav-list__button--open {
  position: fixed;
  right: 20px;
  top: 41px;
  display: none;
}

@media (max-width: $nav-collapse) {
  /* Показывать кнопку открытия когда мобильное меню закрыто  */
  .nav-list--hidden .nav-list__button--open {
    display: block;
  }

  .nav-list__button--close {
    display: block;
  }
}

/* Внутренние ссылки сайта */
.nav-list {
  list-style: none;
  display: flex;
  width: auto;
  align-items: center;
}

.nav-list__item {
  height: 110px;
  line-height: 120px;
  margin-right: 40px;
  font-family: "Gentium Book Basic";
  font-size: 21px;
  font-weight: 700;
  text-align: center;

  a {
    color: $light;
    &:hover {
      text-decoration: underline;
      @include media-breakpoint-down(sm) {
        text-decoration: none;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: $light;
  }
}

.nav-list__item--active {
  position: relative;
  &::after {
    opacity: 0.7;
    transition: all 0.5s ease-in;
  }
}

@media (max-width: $nav-collapse) {
  .nav-list {
    list-style: none;
    display: block;
    position: fixed;
    width: 270px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: $dark;
    opacity: 0.8;
    z-index: 1000;
    transition: all 0.4s;
  }

  .nav-list--hidden {
    right: -290px;
  }

  .nav-list__item {
    padding-top: 10px;
    height: 50px;
    margin-right: 0;
    line-height: 25px;
  }

  .nav-list__item--active {
    a {
      color: $primary;
    }

    &:after {
      display: none;
    }
  }
}

/* Ссылки в соцсетях */

.icon-list {
  list-style: none;
  display: flex;
}

.icon-list__icon {
  color: $primary;
  transition: all 0.4s;
  &:hover,
  &:active {
    color: $light;
  }
}

@media (max-width: $nav-collapse) {
  .icon-list {
    list-style: none;
    display: block;
  }

  .icon-list__item {
    padding-top: 20px;
    height: 50px;
  }
}
