include ../svgicon/svgicon.pug
mixin navbar
  .navbar__wrap
    nav.navbar
      .container
        .navbar__wrap.row
          img(src="./img/Logo.png" alt="Logo").navbar__logo
          ul.navbar__nav-list.nav-list.nav-list--hidden
            li(role="button" aria-label="Open menu").nav-list__button.nav-list__button--open
              +svgicon('bars')
            li(role="button" aria-label="Close menu").nav-list__button.nav-list__button--close
              +svgicon('closeicon')
            li.nav-list__item.nav-list__item--active
              a(href="#header") Home
            li.nav-list__item
              a(href="#about") About
            li.nav-list__item
              a(href="#ingredients") Ingredients
            li.nav-list__item
              a(href="#menu") Menu
            li.nav-list__item
              a(href="#reviews") Reviews
            li.nav-list__item
              a(href="#reservations") Reservations
            li.nav-list__item
              //Ссылки в соцсетях
              ul.header__icon-list.icon-list
                li.icon-list__item
                  a(href="#" aria-label="twitter")
                    i.icon-list__icon.icon-twitter
                li.icon-list__item
                  a(href="#" aria-label="youtube")
                    i.icon-list__icon.icon-youtube
                li.icon-list__item
                  a(href="#" aria-label="facebook")
                    i.icon-list__icon.icon-facebook