/* Анимация фона при загрузке страницы */
@keyframes fade-out {
  from {
    opacity: 1;
    z-index: 100;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}


/* Шапка сайта */

.header {
  position: relative;
  min-height: 750px;
  height: auto;
  padding-bottom: 50px;
  background-image: url(../img/HeaderBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //тень в верхней части страницы
  box-shadow: inset 0 100px 100px -70px rgba(0,0,0,0.8);
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #56656b;
    animation: fade-out 1s both;
  }
  @include media-breakpoint-down(md) {
    background-image: url(../img/bgsmall.jpg);
  }
}


/* Слоган в шапке */

.header__slogan {
  opacity: 0.92;
  width: 100%;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  text-align: center;
  margin: 100px auto 0 auto;
  color: $light;
  font-family: "Yeseva One";
  font-size: 50px;
  font-weight: 400;
  @include media-breakpoint-up(sm) {
    font-size: 70px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 90px;
  }
}

/* Декорация в шапке */
.header__decorator {
  width: 232px;
  height: 43px;
  background-image: url(../img/Decorator.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 34px auto;
}

/* Оболочка для кнопок */

.header__buttons-wrap {
  width: 100%;
  text-align: center;
}

/* Позиционирование в Header */
.header__button {
  margin:30px 15px 15px 15px;
}
