include ../../blocks/navbar/navbar.pug
include ../../blocks/button/button.pug

// Шапка страницы
header.header#header
  +navbar
  .container
    .header__wrapper.row
      h1.header__slogan the right ingredients #[br] for the right food
      .header__decorator
      .header__buttons-wrap
        +button('header__button button--dark','book a table', '#reservations')
        +button('header__button button--light', 'see the menu', '#menu')