<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Шаблон для демонтсрации верстки")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Restaurant Template
    link(rel="preload", href="./fonts/yeseva-one-v13-latin-regular.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/yeseva-one-v13-latin-regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/gentium-book-basic-v9-latin-700.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/gentium-book-basic-v9-latin-700.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/lato-v15-latin-regular.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="./fonts/lato-v15-latin-regular.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="./css/main.css")
  body
    include ./sections/header/header.pug
    include ./sections/about/about.pug
    include ./sections/ingredients/ingredients.pug
    include ./sections/menu/menu.pug
    include ./sections/reviews/reviews.pug
    include ./sections/reserve/reserve.pug
    include ./sections/footer/footer.pug
    script(src="https://code.jquery.com/jquery-3.4.0.min.js", integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=", crossorigin="anonymous")
    //библиотека для взаимодействия с элементами когда они появляются в окне
    script(src="./js/in-view.min.js")
    //скрипт для lazy загрузки изображкений
    script(src="./js/lazysizes.min.js")
    script(src="./js/main.js")
    //svg полифилл
    script(src="./js/svg4everybody.min.js")